<!DOCTYPE html>
<html>
    <head>
        <title>My ChatRoom</title>
        <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}/>
    </head>
    <script src={{url_for('static',filename='chatview.js')}}></script>
    <script>
    const sendChat = ()=>{
        const msg = document.getElementById('msgBox').value
        fetch('/add',{
            method:'POST',
            body:msg
        })
        location.reload()
    }

    const checkSend = (e)=>{
        console.log(e)
    }
    window.addEventListener('load',()=>{
        document.getElementById('msgBox').addEventListener('input',checkSend)
    })
    </script>
    <body>
        <div class="box" id="chatView">
        </div>
        <div>
            <input id="msgBox"/>
            <button onclick="sendChat()">+</button>
        </div>
    </body>
</html>